[Unit]
Description="Run my app code on start/stop"
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash /onstart.sh
ExecStop=/bin/bash /onstop.sh
KillMode=none
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target