[Unit]
Description="Run my app code on start/stop"

[Service]
ExecStart=/bin/bash /data/onstart.sh
ExecStop=/bin/bash /data/onstop.sh
KillMode=none
TimeoutStopSec=150

[Install]
WantedBy=multi-user.target